* {
    margin: auto 0;
}
body {
    padding-top: 80px;
    
}
.nav {
    background-color: #218342;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* margin-bottom:  10px; */
   
}

.navbar {
    display:flex;
    justify-content: space-around;
    text-align: center;
    
}
/* .container-inf a{
    position: relative;
    display: inline-block;
    text-align: center;
} */
.logo-nav {
    width: 50%;
    padding: 5px;
}

.nav-gest-lab {
    font-size: x-large;
    color: #ffffff;
    border-color: 2px solid black;
}


a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}


.navbar ul li a:hover {
    border-bottom: 2px solid #ffffff;
}
.nav-menu li {
    position: relative;
    display: inline-block;
    
}
.nav-menu li a{
    display: block;
    
    padding:15px 20px;
}
.menu-opciones{
    position: absolute;
    padding: 15px;
    width: 130px;
    background-color: red;
    display: none;
}

.menu-opciones li a{    
    display: block;
    padding: 15px;
    text-decoration: none;
    
}
.nav-menu li:hover .menu-opciones{
    display: block; 
}


.btn-registrarse:hover {
    opacity: .7;
}

.btn-login-nav{
    border-radius: 4px;
    background-color: #0f3118;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 5px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
}

.btn-login-nav:hover {
    opacity: .7;
}

.btn-logout-nav{
    border-radius: 4px;
    background-color: #ce3000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: 150px;
    font-size: 16px;
    padding: 5px;
    /* transition: all 0.5s; */
    cursor: pointer;
    margin: 5px;
}
.btn-logout-nav:hover{
    opacity: .7;
}
